.hmoe-add-aria{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 50px;
}
.text-aria{
    background-color: rgb(231, 243, 239);
    margin-right: 50px;
    padding: 20px;
}
.image-aria{
    background-color: rgb(255, 255, 255);
}
.image-aria img{
    width: 500px;
    border: 2px solid rgb(236, 199, 184);
    padding-left: 20px;
}