.hmoe-add-aria {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 50px;
  align-items: center;
}
.text-aria {
  background-color: rgb(231, 243, 239);
  margin-right: 50px;
  padding: 20px;
}
.image-aria {
  background-color: rgb(255, 255, 255);
}
.image-aria img {
  width: 600px;
  border: 2px solid rgb(236, 199, 184);

  padding: 50px;
}
